{% import "/includes/macros/form.twig" as forms %}

<h1>List all users</h1>

<form class="form-horizontal" method="POST">
	<table class="grid-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>No. of records</th>
				<th class="actions">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% if users|length %}
				{% for item in users %}
					{% include "objects/user/grid-item.twig" with { content: item } %}
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="4">
						No users found
					</td>
				</tr>
			{% endif %}
		</tbody>
	</table>
	
	<a class="button pull-right" href="{{ content.actions.add }}">Add user</a>
</form>