{% import "/includes/macros/form.twig" as forms %}

<h1>List all zone templates</h1>

<form class="form-horizontal" method="POST">
	<table class="grid-table">
		<thead>
			<tr>
				<th width="0%" class="check"></th>
				
				{% if godmode %}
					<th width="20%">Owner</th>
					<th width="20%">Name</th>
				{% else %}
					<th width="40%">Name</th>
				{% endif %}
				
				<th width="40%">Description</th>
				<th width="20%">No. of records</th>
				<th width="0%" class="actions last">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for template in templates %}
				{% include "objects/zonetemplate/grid-item.twig" with { content: template } %}
			{% endfor %}
		</tbody>
	</table>
	
	<a class="button pull-right" href="{{ content.actions.add }}">Add template</a>
</form>