{% import "/includes/macros/form.twig" as forms %}

{% if content.id %}
	<h1>Edit '{{ content.name }}' dynamic address</h1>
{% else %}
	<h1>Add a new dynamic address</h1>
{% endif %}

<form class="validate-form form-horizontal" method="POST">
	<article class="content-wrapper">
		<fieldset>
			<legend>Dynamic Address Information</legend>
			
			{{ forms.text({
				title: "Name",
				field: "name",
				value: content.name
			}) }}
			
			{{ forms.text({
				title: "Token",
				field: "token",
				value: content.token,
				placeholder: "Leave blank to auto-generate token"
			}) }}
			
			<div class="control-group">
				<label class="control-label">Token URL</label>
				
				<div class="controls">
					<div class="control-wrap">
						<input type="text" readonly="readonly" class="token-url" placeholder="Token is required to view URL" />
					</div>
				</div>
			</div>
		</fieldset>
		
		{% if godmode %}
			<fieldset>
				<legend>Ownership</legend>
				
				{{ forms.select({ title: "Owner", field: "owner", value: content.zone.owner|default(user.id), key: "username", tuple: users }) }}
			<fieldset>
		{% endif %}
	</article>
	
	<table class="grid-table sortable tall-rows" data-grid-table-group="records">
		<thead>
			<tr>
				<th width="1%"></th>
				<th width="89%">Record</th>
				<th width="10%" class="actions">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for record in selected_records %}
				{% include "objects/dynamicaddressrecord/grid-item.twig" with { parent: content, selected_record_id: record } %}
			{% endfor %}
			
			{% include "objects/dynamicaddressrecord/grid-item.twig" with { parent: content, content: null, class: "placeholder-row" } %}
		</tbody>
	</table>
	
	<br />
	
	<div class="pull-right">
		<button class="btn btn-primary" type="submit" name="commit" value="now">{% if content.id %}Update{% else %}Add{% endif %} dynamic address</button>
	</div>
</form>

<script type="text/javascript">
	$(function()
	{
		$("[name = 'token']").on("change", function(event)
		{
			var value = $(this).val();
			
			if(value.length)
				$(".token-url").val(window.location.protocol + "//" + window.location.hostname + (window.location.port ? ":" + window.location.port : "") + "/dynamic-dns/" + value + "/");
			else
				$(".token-url").val("");
		}).trigger("change");
	});
</script>