{% import "/includes/macros/form.twig" as forms %}

<h1>List all zones/domains</h1>

<form class="form-horizontal" method="POST">
	<table class="grid-table">
		<thead>
			<tr>
				<th width="0%" class="check"></th>
				
				{% if godmode %}
					<th width="20%">Owner</th>
					<th width="20%">Name</th>
				{% else %}
					<th width="40%">Name</th>
				{% endif %}
				
				<th width="15%">Type</th>
				<th width="15%">Serial</th>
				<th width="15%">No. of records</th>
				<th width="15%" class="actions last">Actions</th>
			</tr>
		</thead>
		
		<tbody>
			{% for domain in domains %}
				{% include "objects/domain/grid-item.twig" with { content: domain } %}
			{% endfor %}
		</tbody>
	</table>
	
	<a class="button pull-right" href="{{ content.actions.add }}">Add domain</a>
</form>