.grid-table
{
	thead
	{
		@include texture(#222);
		
		border: 1px solid #111;
		
		th
		{
			&.check
			{
				width: 20px;
			}
			
			&.actions
			{
				width: 90px;
				padding-right: 16px;
				text-align: right;
			}
			
			color: #FFF;
		}
	}
	
	tbody
	{
		tr
		{
			background-color: #FAFAFA;
			
			&:nth-child(2n)
			{
				background-color: #FFF;
				
				td.move-bar
				{
					background-color: darken(#FFF, 6%);
				}
			}
			
			&.sortable-item
			{
				opacity: 0.7;
			}
			
			&.placeholder-row
			{
				td.move-bar
				{
					cursor: default;
				}
			}
			
			&.ui-sortable-placeholder
			{
				td
				{
					font-size: 0px;
					line-height: 0px;
				}
			}
			
			border-top: 1px solid $form-input-border-colour;
		}
		
		td
		{
			&.check
			{
				width: 20px;
			}
			
			&.actions
			{
				ul
				{
					margin: 0px;
					
					list-style-type: none;
					
					li
					{
						a
						{
							@include display(inline-block);
							
							color: #000;
							
							font-size: 14px;
							font-weight: normal;
							
							text-decoration: none;
						}
						
						display: inline;
						line-height: 30px;
						
						margin-right: 8px;
					}
					
					&.tiny
					{
						li
						{
							line-height: 20px;
						}
					}
					
					float: right;
				}
				
				width: 90px;
			}
			
			&.move-bar
			{
				font-size: 0px;
				line-height: 0px;
				
				background-color: darken(#FAFAFA, 6%);
				cursor: move;
			}
			
			&.with-suffix
			{
				position: relative;
				
				.suffix
				{
					position: absolute;
					
					top: 0;
					right: 15px;
					
					color: #888888;
					background-color: #FFF;
					
					// @todo: figure out how to make this dynamic
					height: 29px;
					margin-top: 9px;
					line-height: 29px;
					max-width: 100px;
					
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					
					@include noselect();
				}
			}
		}
	}
	
	&.tall-rows
	{
		tbody
		{
			tr
			{
				height: 4.4em;
			}
		}
	}
	
	@extend %content-wrapper-generic;
	
	border: 1px solid $form-input-border-colour;
	background-color: lighten($form-input-border-colour, 10%);
}