.grid-table
{
	border: 1px solid $form-input-border-colour;
	
	thead
	{
		@include texture(#222);
		
		border: 1px solid #111;
		
		th
		{
			&.check
			{
				width: 20px;
			}
			
			&.actions
			{
				width: 90px;
			}
			
			color: #FFF;
		}
	}
	
	tbody
	{
		tr
		{
			background-color: #FAFAFA;
			
			&:nth-child(2n)
			{
				background-color: #FFF;
			}
			
			border-top: 1px solid $form-input-border-colour;
		}
		
		td
		{
			&.check
			{
				width: 20px;
			}
			
			&.actions
			{
				ul
				{
					margin: 0px;
					
					list-style-type: none;
					
					li
					{
						a
						{
							@include display(inline-block);
							
							color: #000;
							
							font-size: 14px;
							font-weight: normal;
							
							text-decoration: none;
						}
						
						display: inline;
						line-height: 30px;
						
						margin-right: 8px;
					}
					
					&.tiny
					{
						li
						{
							line-height: 20px;
						}
					}
					
					float: right;
				}
				
				width: 90px;
			}
		}
	}
	
	@extend %content-wrapper-generic;
}