.grid-table
{
	border: 1px solid $form-input-border-colour;
	
	thead
	{
		@include texture(#222);
		
		border: 1px solid #111;
		
		th
		{
			color: #FFF;
		}
	}
	
	tbody
	{
		tr
		{
			background-color: #FAFAFA;
			
			&:nth-child(2n)
			{
				background-color: #FFF;
			}
			
			border-top: 1px solid $form-input-border-colour;
		}
		
		td
		{
			ul.actions
			{
				margin: 0px;
				
				list-style-type: none;
				
				li
				{
					a
					{
						@include display(inline-block);
						
						color: #000;
						
						font-size: 14px;
						font-weight: normal;
						
						text-decoration: none;
					}
					
					display: inline;
					line-height: 30px;
					
					margin-right: 8px;
				}
				
				&.tiny
				{
					li
					{
						line-height: 18px;
					}
				}
				
				float: right;
			}
		}
	}
	
	@extend %content-wrapper-generic;
}