@mixin texture($colour: false)
{	
	background-image: url("/assets/images/texture.png");
	
	@if($colour)
	{
		background-color: $colour;
	}
}

%content-wrapper-generic
{
	@include clearfix();
	@include box-shadow(1px 1px 2px #BBB);
	
	margin-top: 25px;
}