<!DOCTYPE html>

<html>
	<head>
		<title>OUTRAGEdns demo</title>
		
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/outragedns.css" />
		
		<script type="text/javascript" src="/assets/javascript/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/javascript/jquery/jquery-ui.min.js"></script>
		
		<script type="text/javascript" src="/assets/javascript/outragedns/grid-table.js"></script>
	</head>
	
	<body>
		<section class="app-navigation">
			<div class="branding">
				OUTRAGEdns
			</div>
			
			<nav class="sections">
				{% include "layout/main-navigation.twig" %}
			</nav>
		</section>
		
		<section class="app-container">