<!DOCTYPE html>

<html>
	<head>
		<title>OUTRAGEdns demo</title>
		
		<link rel="stylesheet" type="text/css" href="/assets/stylesheet/outragedns.css" />
		
		<script type="text/javascript" src="/assets/javascript/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/javascript/jquery/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/assets/javascript/outragedns/grid-table.js"></script>
		<script type="text/javascript" src="/assets/javascript/outragedns/editable-dropdown.js"></script>
	</head>
	
	<body>
		{% if not fullwidth %}
			<section class="app-navigation">
				<div class="branding">
					OUTRAGEdns
				</div>
				
				{% if user %}
					<div class="hello">
						Hi there, {{ user.username }}.
					</div>
				{% endif %}
				
				<nav class="sections">
					{% include "layout/main-navigation.twig" %}
				</nav>
			</section>
		{% endif %}
		
		<section class="app-container{% if not fullwidth %} with-sidebar{% endif %}">
			{% if request.session._notification_messages|length %}
				<div class="notification-header">
					{% for notification in request.session._notification_messages %}
						<div class="notification-item{% if notification.colour %} {{ notification.colour }}{% endif %}">
							<i class="fa fa-exclamation-circle"></i> {{ notification.message }}
						</div>
					{% endfor %}
				</div>
			{% endif %}