<ul>
	<li>
		<i class="fa fa-fw fa-globe"></i>
		<a href="/domains/grid/">Domains</a>
	</li>
	
	<li>
		<i class="fa fa-fw fa-clipboard"></i>
		<a href="/templates/grid/">Templates</a>
	</li>
	
	<li>
		<i class="fa fa-fw fa-user"></i>
		<a href="/account/">Account</a>
	</li>
	
	<li>
		<i class="fa fa-fw fa-power-off"></i>
		<a href="/logout/">Log out</a>
	</li>
</ul>