<ul>
	<li>
		<i class="fa fa-fw fa-globe"></i>
		<a href="/domains/grid/">Domains</a>
	</li>
	
	<li>
		<i class="fa fa-fw fa-clipboard"></i>
		<a href="/templates/grid/">Templates</a>
	</li>
	
	<li>
		<i class="fa fa-fw fa-user"></i>
		<a href="/account/">Account</a>
	</li>
	
	{% if godmode %}
		<li>
			<i class="fa fa-fw fa-user"></i>
			<a href="/users/">Users</a>
		</li>
	{% endif %}
	
	<li>
		<i class="fa fa-fw fa-power-off"></i>
		<a href="/logout/">Log out</a>
	</li>
</ul>

{% if user.admin is not empty %}
	<ul class="offset-top">
		{% if not godmode %}
			<li>
				<i class="fa fa-fw fa-gavel"></i>
				<a href="/admin/on/">Turn on Admin Mode</a>
			</li>
		{% else %}
			<li>
				<i class="fa fa-fw fa-gavel"></i>
				<a href="/admin/off/">Turn off Admin Mode</a>
			</li>
		{% endif %}
	</ul>
{% endif %}