<ul>
	<li>
		<i class="fa fa-anchor"></i>
		<a href="/zones/">Zones</a>
	</li>
	
	<li>
		<i class="fa fa-anchor"></i>
		<a href="/zones/">Zone Templates</a>
	</li>
	
	<li>
		<i class="fa fa-anchor"></i>
		<a href="/zones/">Master Zones</a>
	</li>
	
	<li>
		<i class="fa fa-anchor"></i>
		<a href="/zones/">Super Masters</a>
	</li>
	
	<li>
		<i class="fa fa-user"></i>
		<a href="/zones/">Account</a>
	</li>
</ul>