<ul>
	<li>
		<i class="fa fa-anchor"></i>
		<a href="/domains/grid/">Domains</a>
	</li>
	
	<li>
		<i class="fa fa-anchor"></i>
		<a href="/templates/grid/">Templates</a>
	</li>
	
	<li>
		<i class="fa fa-user"></i>
		<a href="/account/">Account</a>
	</li>
</ul>