/**
 *	Colour palette for Phoenix-UI
 */


/* Custom colours which do look nice */
$colour-blue: #1080DD !default;
$colour-brown: #A05000 !default;
$colour-green: #339933 !default;
$colour-pink: #E671B8 !default;
$colour-purple: #A200FF !default;
$colour-red: #E51400 !default;
$colour-grey: #4B4B4B !default;
$colour-teal: #00ABA9 !default;
$colour-lime: #A2C139 !default;
$colour-magenta: #D80073 !default;
$colour-mango: #F09609 !default;
$colour-orange: #FF6600 !default;


/* Boring colours that might be useful */
$colour-stock-blue: #049CDB !default;
$colour-stock-dark-blue: #0064CD !default;
$colour-stock-green: #46A546 !default;
$colour-stock-red: #9D261D !default;
$colour-stock-yellow: #FFC40D !default;
$colour-stock-orange: #F89406 !default;
$colour-stock-pink: #C3325F !default;
$colour-stock-purple: #7A43B6 !default;


/* Stock colours which are well, key. */
$colour-black: #000 !default;
$colour-grey-darker: #222 !default;
$colour-grey-dark: #333 !default;
$colour-grey: #555 !default;
$colour-grey-light: #999 !default;
$colour-grey-lighter: #EEE !default;
$colour-white: #FFF !default;