/**
 *	List component include for Phoenix-UI
 */


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
{
	margin: 0;
	
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	
	text-rendering: optimizelegibility;
	
	small
	{
		font-weight: normal;
		color: $colour-grey;
	}
}

h1, .h1
{
	font-size: $heading-font-base-size + 13px;
	line-height: $heading-line-height * 2;
	
	small
	{
		font-size: $heading-font-base-size + 5px;
	}
}

h2, .h2
{
	font-size: $heading-font-base-size + 9px;
	line-height: $heading-line-height * 2;
	
	small
	{
		font-size: $heading-font-base-size + 5px;
	}
}

h3, .h3
{
	font-size: $heading-font-base-size + 5px;
	line-height: $heading-line-height * 1.5;
	
	small
	{
		font-size: $heading-font-base-size + 3px;
	}
}

h4, .h4, h5, .h5, h6, .h6
{
	line-height: $heading-line-height;
}

h4, .h4
{
	font-size: $heading-font-base-size + 2px;
	
	small
	{
		font-size: $heading-font-base-size + 1px;
	}
}

h5, .h5
{
	font-size: $heading-font-base-size + 1px;
}

h6, .h6
{
	font-size: $heading-font-base-size;
	
	color: $colour-grey;
	text-transform: uppercase;
}